@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova/proxima-nova-black/proxima-nova-black.woff') format('woff'),
  url('/fonts/proximaNova/proxima-nova-black/proxima-nova-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova/proxima-nova-extrabold/proxima-nova-extrabold.woff') format('woff'),
  url('/fonts/proximaNova/proxima-nova-extrabold/proxima-nova-extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova/proxima-nova-semibold/proxima-nova-semibold.woff') format('woff'),
  url('/fonts/proximaNova/proxima-nova-semibold/proxima-nova-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximaNova/proxima-nova-regular/proxima-nova-regular.woff') format('woff'),
  url('/fonts/proximaNova/proxima-nova-regular/proxima-nova-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: ProximaNova, monospace;
}